/*#divBox{
    width: 100px;
    height: 100px;
    background-color: #272727;
}*/
*{
    background-color: whitesmoke;
}
#section1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}
#myCanvas{
    
    width: 820px;
    height: 420px;
    background-color: #272727;
    border: solid 10px red;
    border-style:groove ;

}
#score{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    
}