*{
    background-color: cadetblue;
}
div{
    background-color: forestgreen;
}

.first{
    background-color: chocolate;
}
#two{
    background-color: darkviolet;
}
.first{
    background-color: gold;
}
